/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* HTML */
html {
  scroll-behavior: smooth;

}

/* Body */
body {
  font-family: "Space Grotesk", sans-serif;
  background: url(./images/background.png) no-repeat center center / cover;
  color: #fefefe;
  background-attachment: fixed;
}

/* Header */
header {
  padding-inline: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

header img {
  width: 9rem;
}

header ul {
  display: flex;
  gap: 2rem;
}

header nav a {
  text-decoration: none;
  color: #fefefe;
  position: relative;
}

header nav a::after {
  content: "";
  background-color: #ff004f;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 100%;
  transition: right 0.5s;
}

header nav a:hover:after {
  right: 0;
}

/* Hero */
.hero {
  padding-inline: 10vw;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero p {
  font-size: 2.5rem;
}

.hero h1 {
  font-size: 4rem;
}

.hero h1 span {
  color: #ff004f;
}

/* About Me */
.about-me {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-inline: 10vw;
  background-color: #010201;
}

.about-me-container {
  display: flex;
  gap: 2rem;
}

.about-me-img {
  width: 25rem;
  border-radius: 1rem;
}

.about-me-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.info-headings {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.info-title {
  position: relative;
  cursor: pointer;

}

.info-span {
  background-color: #ff004f;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 100%;
  transition: right 0.5s;
}

.info-content h4 {
  color: #ff004f;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
}
